body {
  background-color: var(--white-color);
  font-family: var(--main-font);
  color: var(--main-black-text-color);
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 1.76;
}
html {
  scroll-behavior: smooth;
}
body.modal-open {
  overflow: hidden;
}
