.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  outline: 1px solid tomato;

  @media screen and (max-width: 479.98px) {
    width: 100%;
  }

  @include mq('mobile') {
    max-width: 480px;
  }

  @include mq('tablet') {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mq('desktop') {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.container--padding {
  @include mq('tablet-only') {
    padding-left: 16px;
    padding-right: 16px;
  }
}
