// import Swiper and modules styles
@import '../../node_modules/swiper/swiper-bundle.css';

@import './utils/fonts';
@import './utils/variables';
@import './utils/mixin';
@import './utils/visually-hidden';
@import './utils/animation';

@import './base/common';
@import './base/body';
@import './base/container';
@import './base/reset-styles';

@import './componets/logo';
@import './componets/button';
@import './componets/mobile-menu';
@import './componets/modal';
@import './componets/socials';
@import './componets/location';
@import './componets/franchicse';

@import './layouts/section';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/products';
@import './layouts/about';
@import './layouts/advantages';
@import './layouts/gallery';
@import './layouts/customer-reviews';
@import './layouts/contacts';
@import './layouts/footer';
