// button shake
@keyframes swing {
  0% {
    transform: rotate(6deg);
  }
  4% {
    transform: rotate(-6deg);
  }
  8% {
    transform: rotate(3deg);
  }
  12% {
    transform: rotate(-3deg);
  }
  16% {
    transform: rotate(0deg);
  }
}
@keyframes slide-top {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}
