// button shake
@keyframes swing {
  0% {
    transform: rotate(6deg);
  }
  4% {
    transform: rotate(-6deg);
  }
  8% {
    transform: rotate(3deg);
  }
  12% {
    transform: rotate(-3deg);
  }
  16% {
    transform: rotate(0deg);
  }
}
@keyframes slide-top {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}

@keyframes translateX-1 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes translateX-2 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
