<section class="section about">
    <div class="container about__container">
        <p class="section__uppertitle">
            tradition and love
        </p>

        <h2 class="section__title section__title--about">
            how it’s made?
        </h2>

        <picture>
            <source media="(min-width: 1200px)" srcset="
            ./images/about/about-pic_lg@1x.webp 1x,
            ./images/about/about-pic_lg@2x.webp 2x
          " type="image/webp" />
        <source media="(min-width: 1200px)" srcset="
            ./images/about/about-pic_lg@1x.png 1x,
            ./images/about/about-pic_lg@2x.png 2x
          " type="image/png" />
        <source media="(min-width: 768px)" srcset="
            ./images/about/about-pic_md@1x.webp 1x,
            ./images/about/about-pic_md@2x.webp 2x
          " type="image/webp" />
        <source media="(min-width: 768px)" srcset="
            ./images/about/about-pic_md@1x.png 1x,
            ./images/about/about-pic_md@2x.png 2x
          " type="image/png" />
        <source media="(max-width: 767.98px)" srcset="
            ./images/about/about-pic_sm@1x.webp 1x,
            ./images/about/about-pic_sm@2x.webp 2x
          " type="image/webp" />
        <source media="(max-width: 767.98px)" srcset="
            ./images/about/about-pic_sm@1x.png 1x,
            ./images/about/about-pic_sm@2x.png 2x
          " type="image/png" />

            <img class="about__img image" src="./images/about/about-pic_sm@1x.png" alt="Cow face and a jar of milk" width="280"
            height="279" loading="lazy">
        </picture>

        <div class="about__article">
            <p class="about__text--black">
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
                eros. Maecenas eleifend erat at justo fringilla.
            </p>
    
            <p class="about__text">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                tincidunt.
            </p>
            <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
        </div>

        <button type="button" class="btn btn--light">Read more</button>

    </div>
</section>