<section class="advantages section section--padding-top-desktop">
    <div class="container">
        <h2 class="visually-hidden">Advantages ICECREAM</h2>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <p class=" advantages__number" tabindex="0">721</p>
                <p class="advantages__text" tabindex="0">Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <p class="advantages__number" tabindex="0">16kg</p>
                <p class="advantages__text" tabindex="0">Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <p class="advantages__number" tabindex="0">84</p>
                <p class="advantages__text" tabindex="0">Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>