<section class="contacts section section__contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__list list">

      <li class="contacts-card">
        <p class="contacts-card__uppertitle">CAFE</p>
        <h3 class="contacts-card__title">Chicago</h3>
        <p class="contacts-card__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="working-hours list">
          <li class="working-hours__item">
            <p class="working-hours__date">Monday - Friday</p>
            <p class="working-hours__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="working-hours__item">
            <p class="working-hours__date">Saturday - Sunday</p>
            <p class="working-hours__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__block list">
          <li class="contacts__item">
            <a class="contacts__link link contacts__link--phone" href="tel:610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link link contacts__link--email" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts-card">
        <p class="contacts-card__uppertitle contacts-card__uppertitle--var">FOOD TRUCK</p>
        <h3 class="contacts-card__title">Los Angeles</h3>
        <p class="contacts-card__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="working-hours list">
          <li class="working-hours__item">
            <p class="working-hours__date">Monday - Friday</p>
            <p class="working-hours__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="working-hours__item">
            <p class="working-hours__date">Saturday - Sunday</p>
            <p class="working-hours__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__block list">
          <li class="contacts__link">
            <a class="contacts__tel link" href="tel:610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__link">
            <a class="contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts-card">
        <p class="contacts-card__uppertitle">CAFE</p>
        <h3 class="contacts-card__title">New York</h3>
        <p class="contacts-card__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="working-hours list">
          <li class="working-hours__item">
            <p class="working-hours__date">Monday - Friday</p>
            <p class="working-hours__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="working-hours__item">
            <p class="working-hours__date">Saturday - Sunday</p>
            <p class="working-hours__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__block list">
          <li class="contacts__link">
            <a class="contacts__tel link" href="tel:610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__link">
            <a class="contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

    </ul>
    <div class="contacts__button-wrapper">
      <button type="button" class="contacts__button button button--red">Our locations
        <svg class="contacts__icon contacts__icon--white" width="5" height="8">
          <use href="./images/sprite.svg#right-pointer"></use>
        </svg>
      </button>
      <button data-modal-open type="button" class="contacts__button button button--white">Franchise
        <svg class="contacts__icon contacts__icon--red" width="5" height="8">
          <use href="./images/sprite.svg#right-pointer"></use>
        </svg>
      </button>
    </div>
  </div>
</section>