<footer class="footer">

    <div class="footer__container container">


    <div class="footer__group">
        <h1 class="footer__title">homemade ice cream made <span class="footer__title--accent">with passion</span>
        </h1>

      <div class="footer__socials-container">
        <ul class="socials list">
            <li class="socials__item">
                <a class="socials__link" href="https://github.com/" target="_blank" rel="noopener noreferrer"
                    aria-label="icon github">
                    <svg class="socials__icon" width="32" height="32">
                            <use href="./images/sprite.svg#github"></use>
                        </svg>
                </a>
            </li>

            <li class="socials__item">
                <a class="socials__link" href="https://telegram.org/" target="_blank" rel="noopener noreferrer"
                    aria-label="icon telegram">
                    <svg class="socials__icon" width="32" height="32">
                            <use href="./images/sprite.svg#telegram"></use>
                        </svg>
                </a>
            </li>

            <li class="socials__item">
                <a class="socials__link" href="https://uk-ua.facebook.com/" target="_blank" rel="noopener noreferrer"
                    aria-label="icon facebook">
                    <svg class="socials__icon" width="32" height="32">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                </a>
            </li>
        </ul>

        <p class="footer__text">Feel free to contact <a class="footer__phone" href="tel:+610383766284">+61 (0) 383 766
                284</a></p>
      </div>

    </div>


        <p class="footer__text-copyright">&#169; 2022 - IceCream. All Rights Reserved.</p>



    </div>


</footer>