<footer class="footer">

    <div class="footer__container container">

        <p class="footer__title">homemade ice cream made <br> <span class="footer__title--accent">with passion</span> </p>

            <ul class="socials list">
                <li class="socials__item"> 
                    <a class="socials__link" href="https://github.com/" target="_blank" rel="noopener noreferrer" aria-label="icon github">
                        <!-- <svg class="socials__icon" width="34" heigth="34">
                            <use href=""></use>
                        </svg> -->
                    </a>
                </li>

                <li class="socials__item"> 
                    <a class="socials__link" href="https://telegram.org/" target="_blank" rel="noopener noreferrer" aria-label="icon telegram">
                        <!-- <svg class="socials__icon" width="34" heigth="34">
                            <use href=""></use>
                        </svg> -->
                    </a>
                </li>

                <li class="socials__item"> 
                    <a class="socials__link" href="https://uk-ua.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="icon facebook">
                        <!-- <svg class="socials__icon" width="34" heigth="34">
                            <use href=""></use>
                        </svg> -->
                    </a>
                </li>
            </ul>

            <p class="footer__text">Feel free to contact <a class="footer__phone" href="tel:+610383766284">+61 (0) 383 766 284</a></p>



        <p class="footer__text-copyright">&#169; 2022 - IceCream. All Rights Reserved.</p>

 

    </div>


</footer>