<footer class="footer">

    <div class="container">

        <p>homemade ice cream made </p>
        <p>with passion</p>

 

            <ul class="socials__list">
                <li class="socials__item"> 
                    <a class="socials__link" href="#" target="_blank" rel="noopener noreferrer" aria-label="иконка github">
                        <svg class="socials__icon" width="34" heigth="34">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>

                <li class="socials__item"> 
                    <a class="socials__link" href="#" target="_blank" rel="noopener noreferrer" aria-label="иконка telegram">
                        <svg class="socials__icon" width="34" heigth="34">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>

                <li class="socials__item"> 
                    <a class="socials__link" href="#" target="_blank" rel="noopener noreferrer" aria-label="иконка facebook">
                        <svg class="socials__icon" width="34" heigth="34">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <p>Feel free to contact <a href="tel:+610383766284">+61 (0) 383 766 284</a></p>



        <p class="footer__text-copyright">&#169; 2022 - IceCream. All Rights Reserved.</p>

 

    </div>


</footer>