<section class="gallery__section">
    <div class="container gallery__container">
        <h2 class="gallery__gallery-title" hidden>Галерея</h2>
        <ul class="gallery__gallery-photo">
            <li class="gallery__gallery-list">
                <div class="gallery__photo-plate">
                    <picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-1_lg.webp 1x,
      ./images/gallery/gallery-1_lg@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-1_lg.jpg    1x,
      ./images/gallery/gallery-1_lg@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-1_md.webp    1x,
      ./images/gallery/gallery-1_md@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-1_md.jpg    1x,
      ./images/gallery/gallery-1_md@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-1_sm.webp    1x,
      ./images/gallery/gallery-1_sm@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-1_sm.jpg    1x,
      ./images/gallery/gallery-1_sm@2x.jpg 2x
    "
    type="image/jpg"
  />                
<img class="portfolio-img" src="./images/gallery/gallery-1_sm.jpg"
    alt="мороженное в тарелке"
    width="44"
    height="44"
    loading="lazy"
    >
                    </picture>
                </div>
            </li>
            <li class="gallery__gallery-list">
                <div class="gallery__photo-horn">
                    <picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-2_lg.webp 1x,
      ./images/gallery/gallery-2_lg@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-2_lg.jpg    1x,
      ./images/gallery/gallery-2_lg@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-2_md.webp    1x,
      ./images/gallery/gallery-2_md@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-2_md.jpg    1x,
      ./images/gallery/gallery-2_md@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-2_sm.webp    1x,
      ./images/gallery/gallery-2_sm@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-2_sm.jpg    1x,
      ./images/gallery/gallery-2_sm@2x.jpg 2x
    "
    type="image/jpg"
  />                
<img class="portfolio-img" src="./images/gallery/gallery-2_sm.jpg"
    alt="мороженное в руке"
    width="44"
    height="44"
    loading="lazy"
    >
                    </picture>   
                </div>
            </li>
            <li class="gallery__gallery-list">
                <div class="gallery__photo-berry">
                    <picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-3_lg.webp 1x,
      ./images/gallery/gallery-3_lg@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-3_lg.jpg    1x,
      ./images/gallery/gallery-3_lg@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-3_md.webp    1x,
      ./images/gallery/gallery-3_md@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-3_md.jpg    1x,
      ./images/gallery/gallery-3_md@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-3_sm.webp    1x,
      ./images/gallery/gallery-3_sm@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-3_sm.jpg    1x,
      ./images/gallery/gallery-3_sm@2x.jpg 2x
    "
    type="image/jpg"
  />                
<img class="portfolio-img" src="./images/gallery/gallery-3_sm.jpg"
    alt="мороженное с малиной"
    width="44"
    height="44"
    loading="lazy"
    >
                    </picture>       
                </div>
            </li>
             <li class="gallery__gallery-list">
                <div class="gallery__photo-berry-cone">
                    <picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-4_lg.webp 1x,
      ./images/gallery/gallery-4_lg@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-4_lg.jpg    1x,
      ./images/gallery/gallery-4_lg@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-4_md.webp    1x,
      ./images/gallery/gallery-4_md@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-4_md.jpg    1x,
      ./images/gallery/gallery-4_md@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-4_sm.webp    1x,
      ./images/gallery/gallery-4_sm@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-4_sm.jpg    1x,
      ./images/gallery/gallery-4_sm@2x.jpg 2x
    "
    type="image/jpg"
  />                
<img class="portfolio-img" src="./images/gallery/gallery-4_sm.jpg"
    alt="мороженное-рожек с ягодами"
    width="90"
    height="90"
    loading="lazy"
    >
                    </picture>       
                </div>
            </li>
             <li class="gallery__gallery-list">
                <div class="gallery__photo-girls">
                    <picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-5_lg.webp 1x,
      ./images/gallery/gallery-5_lg@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-5_lg.jpg    1x,
      ./images/gallery/gallery-5_lg@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-5_md.webp    1x,
      ./images/gallery/gallery-5_md@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-5_md.jpg    1x,
      ./images/gallery/gallery-5_md@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-5_sm.webp    1x,
      ./images/gallery/gallery-5_sm@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-5_sm.jpg    1x,
      ./images/gallery/gallery-5_sm@2x.jpg 2x
    "
    type="image/jpg"
  />                
<img class="portfolio-img" src="./images/gallery/gallery-5_sm.jpg"
    alt="девушка с мороженным"
    width="44"
    height="44"
    loading="lazy"
    >
                    </picture>       
                </div>
            </li>
             <li class="gallery__gallery-list">
                <div class="gallery__photo-bowl">
                    <picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-6_lg.webp 1x,
      ./images/gallery/gallery-6_lg@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-6_lg.jpg    1x,
      ./images/gallery/gallery-6_lg@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-6_md.webp    1x,
      ./images/gallery/gallery-6_md@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-6_md.jpg    1x,
      ./images/gallery/gallery-6_md@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-6_sm.webp    1x,
      ./images/gallery/gallery-6_sm@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-6_sm.jpg    1x,
      ./images/gallery/gallery-6_sm@2x.jpg 2x
    "
    type="image/jpg"
  />                
<img class="portfolio-img" src="./images/gallery/gallery-6_sm.jpg"
    alt="мороженное в пиале"
    width="44"
    height="44"
    loading="lazy"
    >
                    </picture>       
                </div>
            </li>
             <li class="gallery__gallery-list">
                <div class="gallery__photo-arrival">
                    <picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-7_lg.webp 1x,
      ./images/gallery/gallery-7_lg@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-7_lg.jpg    1x,
      ./images/gallery/gallery-7_lg@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-7_md.webp    1x,
      ./images/gallery/gallery-7_md@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-7_md.jpg    1x,
      ./images/gallery/gallery-7_md@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-7_sm.webp    1x,
      ./images/gallery/gallery-7_sm@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-7_sm.jpg    1x,
      ./images/gallery/gallery-7_sm@2x.jpg 2x
    "
    type="image/jpg"
  />                
<img class="portfolio-img" src="./images/gallery/gallery-7_sm.jpg"
    alt="мороженное в руке"
    width="44"
    height="44"
    loading="lazy"
    >
                    </picture>       
                </div>
            </li>
             <li class="gallery__gallery-list">
                <div class="gallery__photo-puppy">
                    <picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-8_lg.webp 1x,
      ./images/gallery/gallery-8_lg@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-8_lg.jpg    1x,
      ./images/gallery/gallery-8_lg@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-8_md.webp    1x,
      ./images/gallery/gallery-8_md@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-8_md.jpg    1x,
      ./images/gallery/gallery-8_md@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-8_sm.webp    1x,
      ./images/gallery/gallery-8_sm@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-8_sm.jpg    1x,
      ./images/gallery/gallery-8_sm@2x.jpg 2x
    "
    type="image/jpg"
  />                
<img class="portfolio-img" src="./images/gallery/gallery-8_sm.jpg"
    alt="щенок и мороженное"
    width="44"
    height="44"
    loading="lazy"
    >
                    </picture>       
                </div>
            </li>
             <li class="gallery__gallery-list">
                <div class="gallery__photo-cup">
                    <picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-9_lg.webp 1x,
      ./images/gallery/gallery-9_lg@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-9_lg.jpg    1x,
      ./images/gallery/gallery-9_lg@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-9_md.webp    1x,
      ./images/gallery/gallery-9_md@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-9_md.jpg    1x,
      ./images/gallery/gallery-9_md@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-9_sm.webp    1x,
      ./images/gallery/gallery-9_sm@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-9_sm.jpg    1x,
      ./images/gallery/gallery-9_sm@2x.jpg 2x
    "
    type="image/jpg"
  />                
<img class="portfolio-img" src="./images/gallery/gallery-9_sm.jpg"
    alt="мороженное в стакане"
    width="44"
    height="44"
    loading="lazy"
    >
                    </picture>       
                </div>
            </li>
             <li class="gallery__gallery-list">
                <div class="gallery__photo-cake">
                    <picture>
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-10_lg.webp 1x,
      ./images/gallery/gallery-10_lg@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 1200px)"
    srcset="
      ./images/gallery/gallery-10_lg.jpg    1x,
      ./images/gallery/gallery-10_lg@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-10_md.webp    1x,
      ./images/gallery/gallery-10_md@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./images/gallery/gallery-10_md.jpg    1x,
      ./images/gallery/gallery-10_md@2x.jpg 2x
    "
    type="image/jpg"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-10_sm.webp    1x,
      ./images/gallery/gallery-10_sm@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    media="(max-width: 767px)"
    srcset="
      ./images/gallery/gallery-10_sm.jpg    1x,
      ./images/gallery/gallery-10_sm@2x.jpg 2x
    "
    type="image/jpg"
  />                
<img class="portfolio-img" src="./images/gallery/gallery-10_sm.jpg"
    alt="мороженное-пироженое"
    width="44"
    height="44"
    loading="lazy"
    >
                    </picture>       
                </div>
            </li>
        </ul>
    </div>

</section>