<section class="gallery section">
  <div class="container gallery__container">
    <h2 class="visually-hidden">Галерея</h2>
    <ul class="gallery__list list">
      <li class="gallery__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-1_lg.webp 1x,
              ./images/gallery/gallery-1_lg@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-1_lg.png 1x,
              ./images/gallery/gallery-1_lg@2x.png 2x
            " type="image/png" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-1_md.webp 1x,
              ./images/gallery/gallery-1_md@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-1_md.png 1x,
              ./images/gallery/gallery-1_md@2x.png 2x
            " type="image/png" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-1_sm.webp 1x,
              ./images/gallery/gallery-1_sm@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-1_sm.png 1x,
              ./images/gallery/gallery-1_sm@2x.png 2x
            " type="image/png" />
          <img class="gallery__img image" src="./images/gallery/gallery-1_sm.png" alt="ice cream in a bowl" width="44"
            height="44" loading="lazy" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-2_lg.webp 1x,
              ./images/gallery/gallery-2_lg@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-2_lg.png 1x,
              ./images/gallery/gallery-2_lg@2x.png 2x
            " type="image/png" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-2_md.webp 1x,
              ./images/gallery/gallery-2_md@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-2_md.png 1x,
              ./images/gallery/gallery-2_md@2x.png 2x
            " type="image/png" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-2_sm.webp 1x,
              ./images/gallery/gallery-2_sm@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-2_sm.png 1x,
              ./images/gallery/gallery-2_sm@2x.png 2x
            " type="image/png" />
          <img class="gallery__img image" src="./images/gallery/gallery-2_sm.png" alt="ice cream in hand" width="44"
            height="44" loading="lazy" />
        </picture>
      </li>   
      <li class="gallery__item"> 
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-3_lg.webp 1x,
              ./images/gallery/gallery-3_lg@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-3_lg.png 1x,
              ./images/gallery/gallery-3_lg@2x.png 2x
            " type="image/png" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-3_md.webp 1x,
              ./images/gallery/gallery-3_md@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-3_md.png 1x,
              ./images/gallery/gallery-3_md@2x.png 2x
            " type="image/png" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-3_sm.webp 1x,
              ./images/gallery/gallery-3_sm@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-3_sm.png 1x,
              ./images/gallery/gallery-3_sm@2x.png 2x
            " type="image/png" />
          <img class="gallery__img image" src="./images/gallery/gallery-3_sm.png" alt="raspberry ice cream" width="44"
            height="44" loading="lazy" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-4_lg.webp    1x,
              ./images/gallery/gallery-4_lg@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-4_lg.png    1x,
              ./images/gallery/gallery-4_lg@2x.png 2x
            " type="image/png" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-4_md.webp    1x,
              ./images/gallery/gallery-4_md@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-4_md.png    1x,
              ./images/gallery/gallery-4_md@2x.png 2x
            " type="image/png" />
          <source media="(max-width: 767px)" srcset="
              ./images/gallery/gallery-4_sm.webp    1x,
              ./images/gallery/gallery-4_sm@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 767px)" srcset="
              ./images/gallery/gallery-4_sm.png    1x,
              ./images/gallery/gallery-4_sm@2x.png 2x
            " type="image/png" />
          <img class="gallery__img image" src="./images/gallery/gallery-4_sm.png" alt="мороженное-рожек с ягодами"
            width="90" height="90" loading="lazy" />
        </picture>
        <!-- <span class="sale">Sale 5%</span> -->
      </li>  
      <li class="gallery__item">  
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-5_lg.webp 1x,
              ./images/gallery/gallery-5_lg@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-5_lg.png 1x,
              ./images/gallery/gallery-5_lg@2x.png 2x
            " type="image/png" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-5_md.webp 1x,
              ./images/gallery/gallery-5_md@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-5_md.png 1x,
              ./images/gallery/gallery-5_md@2x.png 2x
            " type="image/png" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-5_sm.webp 1x,
              ./images/gallery/gallery-5_sm@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-5_sm.png 1x,
              ./images/gallery/gallery-5_sm@2x.png 2x
            " type="image/png" />
          <img class="gallery__img image" src="./images/gallery/gallery-5_sm.png" alt="ice cream girls" width="44"
            height="44" loading="lazy" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-6_lg.webp 1x,
              ./images/gallery/gallery-6_lg@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-6_lg.png 1x,
              ./images/gallery/gallery-6_lg@2x.png 2x
            " type="image/png" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-6_md.webp 1x,
              ./images/gallery/gallery-6_md@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-6_md.png 1x,
              ./images/gallery/gallery-6_md@2x.png 2x
            " type="image/png" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-6_sm.webp 1x,
              ./images/gallery/gallery-6_sm@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-6_sm.png 1x,
              ./images/gallery/gallery-6_sm@2x.png 2x
            " type="image/png" />
          <img class="gallery__img image" src="./images/gallery/gallery-6_sm.png" alt="ice cream in a deep bowl"
            width="44" height="44" loading="lazy" />
        </picture>
      </li>  
      <li class="gallery__item">  
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-7_lg.webp 1x,
              ./images/gallery/gallery-7_lg@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-7_lg.png 1x,
              ./images/gallery/gallery-7_lg@2x.png 2x
            " type="image/png" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-7_md.webp 1x,
              ./images/gallery/gallery-7_md@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-7_md.png 1x,
              ./images/gallery/gallery-7_md@2x.png 2x
            " type="image/png" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-7_sm.webp 1x,
              ./images/gallery/gallery-7_sm@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-7_sm.png 1x,
              ./images/gallery/gallery-7_sm@2x.png 2x
            " type="image/png" />
          <img class="gallery__img image" src="./images/gallery/gallery-7_sm.png" alt="star ice cream" width="44"
            height="44" loading="lazy" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-8_lg.webp 1x,
              ./images/gallery/gallery-8_lg@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-8_lg.png 1x,
              ./images/gallery/gallery-8_lg@2x.png 2x
            " type="image/png" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-8_md.webp 1x,
              ./images/gallery/gallery-8_md@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-8_md.png 1x,
              ./images/gallery/gallery-8_md@2x.png 2x
            " type="image/png" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-8_sm.webp 1x,
              ./images/gallery/gallery-8_sm@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-8_sm.png 1x,
              ./images/gallery/gallery-8_sm@2x.png 2x
            " type="image/png" />
          <img class="gallery__img image" src="./images/gallery/gallery-8_sm.png" alt="puppy and ice cream" width="44"
            height="44" loading="lazy" />
        </picture>
      </li>   
      <li class="gallery__item"> 
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-9_lg.webp 1x,
              ./images/gallery/gallery-9_lg@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-9_lg.png 1x,
              ./images/gallery/gallery-9_lg@2x.png 2x
            " type="image/png" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-9_md.webp 1x,
              ./images/gallery/gallery-9_md@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-9_md.png 1x,
              ./images/gallery/gallery-9_md@2x.png 2x
            " type="image/png" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-9_sm.webp 1x,
              ./images/gallery/gallery-9_sm@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-9_sm.png 1x,
              ./images/gallery/gallery-9_sm@2x.png 2x
            " type="image/png" />
          <img class="gallery__img image" src="./images/gallery/gallery-9_sm.png" alt="ice cream in a glass" width="44"
            height="44" loading="lazy" />
        </picture>
      </li>  
      <li class="gallery__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-10_lg.webp 1x,
              ./images/gallery/gallery-10_lg@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1200px)" srcset="
              ./images/gallery/gallery-10_lg.png 1x,
              ./images/gallery/gallery-10_lg@2x.png 2x
            " type="image/png" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-10_md.webp 1x,
              ./images/gallery/gallery-10_md@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./images/gallery/gallery-10_md.png 1x,
              ./images/gallery/gallery-10_md@2x.png 2x
            " type="image/png" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-10_sm.webp 1x,
              ./images/gallery/gallery-10_sm@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 767.98px)" srcset="
              ./images/gallery/gallery-10_sm.png 1x,
              ./images/gallery/gallery-10_sm@2x.png 2x
            " type="image/png" />
          <img class="gallery__img image" src="./images/gallery/gallery-10_sm.png" alt="ice cream-cake" width="44"
            height="44" loading="lazy" />
        </picture>
      </li>
    </ul>
  </div>
</section>