<header class="header">
  <div class="container">
    <div class="logo__group">
      <a class="logo__link" href="./index.html">
        <!-- <svg class="logo__icon" width="48" height="49">
          <use href="./images/symbol-defs.svg#icon-cream"></use>
        </svg> -->
        <svg class="logo__icon" width="48" height="49">
          <use href="./images/symbol-defs.svg#icon-logo-layout"></use>
        </svg>
      </a>
      <a class="logo__link-text" href="./index.html">
        <ul class="logo__list list">
          <li class="logo__item">
            <svg class="logo__symbol" width="14" height="18">
              <use href="./images/symbol-defs.svg#icon-i"></use>
            </svg>
          </li>
          <li class="logo__item">
            <svg class="logo__symbol" width="14" height="18">
              <use href="./images/symbol-defs.svg#icon-c"></use>
            </svg>
          </li>
          <li class="logo__item">
            <svg class="logo__symbol" width="14" height="18">
              <use href="./images/symbol-defs.svg#icon-e"></use>
            </svg>
          </li>
          <li class="logo__item">
            <svg class="logo__symbol" width="14" height="18">
              <use href="./images/symbol-defs.svg#icon-c"></use>
            </svg>
          </li>
          <li class="logo__item">
            <svg class="logo__symbol" width="14" height="18">
              <use href="./images/symbol-defs.svg#icon-r"></use>
            </svg>
          </li>
          <li class="logo__item">
            <svg class="logo__symbol" width="14" height="18">
              <use href="./images/symbol-defs.svg#icon-e"></use>
            </svg>
          </li>
          <li class="logo__item">
            <svg class="logo__symbol" width="14" height="18">
              <use href="./images/symbol-defs.svg#icon-a"></use>
            </svg>
          </li>
          <li class="logo__item">
            <svg class="logo__symbol" width="14" height="18">
              <use href="./images/symbol-defs.svg#icon-m"></use>
            </svg>
          </li>
        </ul>
      </a>
    </div>
    <nav>
    <div class="menu__content" data-menu>
    <button class="header__button-modal" data-modal-open type="button">Buy now
        <svg class="button-modal__image" width="4" height="8">
          <use href="./images/symbol-defs.svg#icon-arrow"></use>
        </svg>
    </button>
<ul class="header__list list">
        <li class="header__item">
          <a
            class="header__link header__link--current link" href="./index.html">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#customer-reviews">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#about">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#products">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
<button type="button" class="mobile__button" data-menu-button aria-expanded="false">
	<svg width="20" height="12" aria-label="Переключатель меню">
		<use class="menu__icon--menu" href="./images/symbol-defs.svg#icon-menu24px"></use>
		<use class="menu__icon--vector" href="./images/symbol-defs.svg#cross"></use>
	</svg>
</button>
       <button class="header__button" data-modal-open type="button">Buy now
        <svg class="logo__icon" width="4" height="8">
          <use href="./images/symbol-defs.svg#icon-arrow"></use>
        </svg>
    </button>
    </div>
  </div>
</header>
