<header class="header" id="home">
  <div class="header__container container">
    <a class="logo" href="./index.html">
      <svg class="logo__icon" width="199" height="50">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="header__navigation">
      <ul class="header-menu__list list">
        <li class="header-menu__item">
          <a class="header-menu__link header-menu__link--current link" href="#home">Home</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link link" href="#products">Our products</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link link" href="#about">How it’s made?</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link link" href="#gallery">Gallery</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mobile-button js-open-menu js-hide-btn" data-menu-button aria-expanded="false">
      <svg width="20" height="12" aria-label="Menu switcher">
        <use class="mobile-button__icon--menu" href="./images/sprite.svg#icon-menu-color"></use>
      </svg>
    </button>
    <button class="button button--white header__button js-hide-menu-bg" type="button" data-modal-open1>
      Buy now
      <svg class="button__icon" width="4" height="8">
        <use href="./images/sprite.svg#right-pointer"></use>
      </svg>
    </button>
  </div>
</header>