<header class="header">
  <div class="header__container container">
      <a class="logo" href="./index.html">
        <svg class="logo__icon" width="199" height="50">
          <use href="./images/symbol-defs.svg#icon-group-logo"></use>
        </svg>
      </a>
  <button type="button" class="mobile-button" data-menu-button aria-expanded="false">
	<svg width="20" height="12" aria-label="Menu switcher">
		<use class=" mobile-button__icon--menu" href="./images/symbol-defs.svg#icon-menu24px"></use>
		<use class="mobile-button__icon--close" href="./images/symbol-defs.svg#cross"></use>
	</svg>
</button>
       <button class="button header__button" data-modal-open type="button">Buy now
        <svg class="logo__icon" width="4" height="8">
          <use href="./images/symbol-defs.svg#icon-arrow"></use>
        </svg>
    </button>
    </div>
  </div>
</header>
