<section class="hero">
  <div class="container hero--container">
    <div class="hero__container">
      <h1 class="hero__title">
        Ice Cream made with <span class="hero__title--accent">Passion</span>
      </h1>

      <ul class="hero__list list">
        <li class="hero__item">
          <a class="button button--red button--hero" href="#products">Products</a>
        </li>
        <li class="hero__item">
          <a class="button button--white button--hero" href="#about">How it's made</a>
        </li>
      </ul>
    </div>

    <div class="bio-eco">
      <picture>
        <source media="(min-width: 1200px)" srcset="
            ./images/hero/hero_1lg.webp    1x,
            ./images/hero/hero_1lg@2x.webp 2x
          " type="image/webp" />
        <source media="(min-width: 1200px)" srcset="
            ./images/hero/hero_1lg.png    1x,
            ./images/hero/hero_1lg@2x.png 2x
          " type="image/png" />
        <source media="(min-width: 768px)" srcset="
            ./images/hero/hero_1med.webp    1x,
            ./images/hero/hero_1med@2x.webp 2x
          " type="image/webp" />
        <source media="(min-width: 768px)" srcset="
            ./images/hero/hero_1med.png    1x,
            ./images/hero/hero_1med@2x.png 2x
          " type="image/png" />
        <img class="bio-eco__img image" src="./images/hero/hero_1med.png" alt="jug of milk" width="152" height="154"
          loading="lazy" />
      </picture>
      <div class="bio-eco__container">
        <p class="bio-eco__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="" class="bio-eco__link">
          <svg class="bio-eco__icon" width="5" height="4">
            <use href="./images/sprite.svg#right-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="thumb-ice-cream">
      <picture>
        <source media="(min-width: 1200px)" srcset="
            ./images/hero/hero_mainlg.webp    1x,
            ./images/hero/hero_mainlg@2x.webp 2x
          " type="image/webp" />
        <source media="(min-width: 1200px)" srcset="
            ./images/hero/hero_mainlg.png    1x,
            ./images/hero/hero_mainlg@2x.png 2x
          " type="image/png" />
        <source media="(min-width: 768px)" srcset="
            ./images/hero/hero_mainmed.webp    1x,
            ./images/hero/hero_mainmed@2x.webp 2x
          " type="image/webp" />
        <source media="(min-width: 768px)" srcset="
            ./images/hero/hero_mainmed.png    1x,
            ./images/hero/hero_mainmed@2x.png 2x
          " type="image/png" />
        <source media="(max-width: 767.98px)" srcset="
            ./images/hero/hero_mainsm.webp    1x,
            ./images/hero/hero_mainsm@2x.webp 2x
          " type="image/webp" />
        <source media="(max-width: 767.98px)" srcset="
            ./images/hero/hero_mainsm.png    1x,
            ./images/hero/hero_mainsm@2x.png 2x
          " type="image/png" />
        <img class="hero__image image" src="./images/hero/hero_mainsm.png" alt="jug of milk" width="171" height="410"
          loading="lazy" />
      </picture>
      <img class="ice-cream7" src="./images/ice-cream/ice-cream7.png" width="171" height="410" alt="" />
      <img class="ice-cream6" src="./images/ice-cream/ice-cream6.png" width="171" height="410" alt="" />
      <img class="ice-cream5" src="./images/ice-cream/ice-cream5.png" width="171" height="410" alt="" />
      <img class="ice-cream4" src="./images/ice-cream/ice-cream4.png" width="171" height="410" alt="" />
      <img class="ice-cream3" src="./images/ice-cream/ice-cream3.png" width="171" height="410" alt="" />
      <img class="ice-cream2" src="./images/ice-cream/ice-cream2.png" width="171" height="410" alt="" />
      <img class="ice-cream1" src="./images/ice-cream/ice-cream1.png" width="171" height="410" alt="" />
    </div>

    <div class="hero__circle"></div>

    <div class="amount">
      <ul class="amount__list list">
        <li class="amount__item">
          <p class="amount__accent">16</p>
          <p class="amount__description">cafes</p>
        </li>
        <li class="amount__item">
          <p class="amount__accent">23</p>
          <p class="amount__description">food tracks</p>
        </li>
      </ul>
    </div>

    <div class="enticing">
      <picture>
        <source media="(min-width: 1200px)" srcset="
            ./images/hero/hero_2lg.webp    1x,
            ./images/hero/hero_2lg@2x.webp 2x
          " type="image/webp" />
        <source media="(min-width: 1200px)" srcset="
            ./images/hero/hero_2lg.png    1x,
            ./images/hero/hero_2lg@2x.png 2x
          " type="image/png" />
        <source media="(min-width: 768px)" srcset="
            ./images/hero/hero_2med.webp    1x,
            ./images/hero/hero_2med@2x.webp 2x
          " type="image/webp" />
        <source media="(min-width: 768px)" srcset="
            ./images/hero/hero_2med.png    1x,
            ./images/hero/hero_2med@2x.png 2x
          " type="image/png" />
        <img class="enticing__image image" src="./images/hero/hero_2med.png" alt="girl with ice cream" width="190"
          height="150" loading="lazy" />
      </picture>
    </div>
  </div>
</section>