<div class="mobile-menu" data-menu>
  <button class="button mobile-menu__button" data-modal-open type="button">
    Buy now
    <svg class="button__icon" width="4" height="8">
      <use href="./images/symbol-defs.svg#icon-arrow"></use>
    </svg>
  </button>
  <nav>
    <ul class="mobile-menu__list list">
      <li class="mobile-menu__item">
        <a
          class="mobile-menu__link mobile-menu__link--current link"
          href="./index.html"
          >Home</a
        >
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="#customer-reviews">About us</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="#about">How it’s made?</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="#products">Our products</a>
      </li>
      <li class="hmobile-menu__item">
        <a class="mobile-menu__link link" href="#contacts">Contact</a>
      </li>
    </ul>
  </nav>
</div>
