<div class="mobile-menu" data-menu>
  <button
    class="button button--white mobile-menu__button"
    type="button"
    data-modal-open
  >
    Buy now
    <svg class="button__icon" width="4" height="8">
      <use href="./images/sprite.svg#right-pointer"></use>
    </svg>
  </button>
  <nav>
    <ul class="mobile-menu__list list">
      <li class="mobile-menu__item">
        <a
          class="mobile-menu__link mobile-menu__link--current link"
          href="#home"
          >Home</a
        >
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="#products">Our products</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="#about">How it’s made?</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="#gallery">Gallery</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
</div>
