   <nav>
    <div class="menu__content" data-menu>
    <button class="header__button-modal" data-modal-open type="button">Buy now
        <svg class="button-modal__image" width="4" height="8">
          <use href="./images/symbol-defs.svg#icon-arrow"></use>
        </svg>
    </button>
<ul class="header__list list">
        <li class="header__item">
          <a
            class="header__link header__link--current link" href="./index.html">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#customer-reviews">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#about">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#products">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
