<section class="products section section--padding-top">
  <div class="products__container container">
    <p class="section__uppertitle">100% natural</p>
    <h2 class="section__title">products</h2>
    <ul class="products__list list">
      <li class="products__item products-card">
        <div class="products-card__wrapper products-card__wrapper--ice-cream">
          <h3 class="products-card__name">ice cream</h3>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products-card__btn">
            <svg class="products-card__icon products-card__icon--ice-cream" width="11" height="10">
              <use href="./images/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item products-card">
        <div class="products-card__wrapper products-card__wrapper--ice-coffee">
          <h3 class="products-card__name">ice coffee</h3>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products-card__btn">
            <svg class="products-card__icon products-card__icon--ice-coffee" width="11" height="10">
              <use href="./images/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item products-card">
        <div class="products-card__wrapper products-card__wrapper--milkshakes">
          <h3 class="products-card__name">milkshakes</h3>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products-card__btn">
            <svg class="products-card__icon  products-card__icon--milkshakes" width="11" height="10">
              <use href="./images/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>