<section class="products section section--padding-top" id="products">
  <div class="products__container container">
    <p class="section__uppertitle">100% natural</p>
    <h2 class="section__title">products</h2>
    <ul class="products__list list">
      <li  class="products__item products-card">
        <div class="products__flip-box" flip-card>
          <div class="products-card__wrapper products-card__wrapper--ice-cream">
            <h3 class="products-card__name">ice cream</h3>
            <p class="products-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button
              type="button"
              class="products-card__btn"
              rotate-right
            >
              <svg
                class="products-card__icon products-card__icon--ice-cream"
                width="11"
                height="10"
              >
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="products__back-side back-side back-side--ice-cream">
            <h3 class="back-side__title">Ingredients:</h3>
            <ul class="back-side__ingredients list">
              <li class="back-side__ingredient">Full fat coconut milk</li>
              <li class="back-side__ingredient">Regular coconut milk</li>
              <li class="back-side__ingredient">Pure maple syrup</li>
              <li class="back-side__ingredient">Vanilla extract</li>
            </ul>
            <button
              class="button button--white back-side__button"
              data-modal-open2
              type="button"
            >
              Buy now
              <svg class="back-side__icon" width="5" height="8">
                <use href="./images/sprite.svg#right-pointer"></use>
              </svg>
            </button>
            <button
              rotate-back
              type="button"
              class="products-card__btn"
            >
              <svg
                class="products-card__icon products-card__icon--ice-cream"
                width="11"
                height="10"
              >
                <use href="./images/sprite.svg#left-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products__item products-card">
        <div class="products__flip-box" flip-card-2>
          <div class="products__back-side back-side back-side--ice-coffee">
            <h3 class="back-side__title">Ingredients:</h3>
            <ul class="back-side__ingredients list">
              <li class="back-side__ingredient">Cold coffee</li>
              <li class="back-side__ingredient">Milk of choice</li>
              <li class="back-side__ingredient">Coconut sugar syrup</li>
              <li class="back-side__ingredient">Ice cubes</li>
            </ul>
            <button
              class="button button--white back-side__button"
              data-modal-open3
              type="button"
            >
              Buy now
              <svg class="back-side__icon" width="5" height="8">
                <use href="./images/sprite.svg#right-pointer"></use>
              </svg>
            </button>
            <button type="button" class="products-card__btn" rotate-back-2>
              <svg
                class="products-card__icon products-card__icon--ice-cream"
                width="11"
                height="10"
              >
                <use href="./images/sprite.svg#left-arrow"></use>
              </svg>
            </button>
          </div>
          <div
            class="products-card__wrapper products-card__wrapper--ice-coffee"
          >
            <h3 class="products-card__name">ice coffee</h3>
            <p class="products-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button type="button" class="products-card__btn" rotate-right-2>
              <svg
                class="products-card__icon products-card__icon--ice-coffee"
                width="11"
                height="10"
              >
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products__item products-card">
        <div class="products__flip-box" flip-card-3>
          <div class="products__back-side back-side back-side--milkshakes">
            <h3 class="back-side__title">Ingredients:</h3>
            <ul class="back-side__ingredients list">
              <li class="back-side__ingredient">2 bananas</li>
              <li class="back-side__ingredient">Honey or coconut sugar</li>
              <li class="back-side__ingredient">Milk of choice</li>
              <li class="back-side__ingredient">Vanilla extract</li>
            </ul>
            <button
              class="button button--white back-side__button"
              data-modal-open4
              type="button"
            >
              Buy now
              <svg class="back-side__icon" width="5" height="8">
                <use href="./images/sprite.svg#right-pointer"></use>
              </svg>
            </button>
            <button type="button" class="products-card__btn" rotate-back-3>
              <svg
                class="products-card__icon products-card__icon--ice-cream"
                width="11"
                height="10"
              >
                <use href="./images/sprite.svg#left-arrow"></use>
              </svg>
            </button>
          </div>
          <div
            class="products-card__wrapper products-card__wrapper--milkshakes"
          >
            <h3 class="products-card__name">milkshakes</h3>
            <p class="products-card__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button type="button" class="products-card__btn" rotate-right-3>
              <svg
                class="products-card__icon products-card__icon--milkshakes"
                width="11"
                height="10"
              >
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
