.about {
    background-color: var(--second-background-color);
    padding-bottom: 40px;
      
    @include mq('tablet') {
        padding-bottom: 60px;
    }
      
}

.section__title--about{
    margin-bottom: 32px;

    @include mq(tablet){
        margin-bottom: 40px;
    }
    @include mq(desktop){
        margin-bottom: 60px;
    }
}

.about__thumb{
    @include mq(tablet){
        display: flex;
    }

    @include mq(desktop){
        background-image: url(../images/about/about-bg_lg@1x.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;

        @include mq(retina) {
            background-image: url(../images/about/about-bg_lg@2x.png);
        }
    }
}

.about__img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    @include mq(tablet){
        width: 336px;
        height: 335px;
        margin-bottom: 0;
        margin-right: 32px;
    }

    @include mq(desktop){
        width: 501px;
        height: 501px;
        margin-right: 0;
    }
}

.about__article {
    max-width: 350px;

    font-weight: var(--main-font-weight);
    font-size: 14px;
    line-height: 1.76;
    color: var(--secondary-text-color);

    @include mq(mobile-only){
        margin: 0 auto;
        max-width: 360px;

        font-size: 12px;
        line-height: 1.62;

        background-image: url(../images/about/about-bg_sm@1x.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 70px;

        @include mq(retina) {
            background-image: url(../images/about/about-bg_sm@2x.png);
        }
    }

    @include mq(desktop){
        min-width: 465px;
        padding-top: 90px;
        padding-bottom: 80px;
        margin-right: auto;
        margin-left: auto;
    }

}

.about__text--black {
    color: var(--main-black-text-color);
    margin-bottom: 20px;

    @include mq(mobile-only){
        max-width: 240px;
    }
    @include mq(desktop){
        margin-bottom: 32px;
        font-size: 16px;
    }
}

.about__text{
    margin-bottom: 10px;

    @include mq(mobile-only){
        margin-bottom: 20px;
        max-width: 230px;
}
    @include mq(desktop){
        font-size: 14px;
        line-height: 1.94;
        margin-bottom: 20px;
    }
}

.about__text--bottom{
    @include mq(tablet){
        margin-bottom: 20px;
    }
}

#content {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 20px;

    transition: max-height 0.7s;

    @include mq(mobile-only){
        max-width: 230px;
    }

    @include mq(tablet){
        
    }
}

#content.open{
    max-height: 400px;
    // display: block;

    transition: max-height 0.7s;   
}

// .button--about{
//     margin-bottom: 20px;    
// }

.about__icon {
    margin-left: 15px;
    stroke: var(--accent-color);
    transition: stroke 250ms var(--transition-timing) 300ms;
}