.advantages {
  background-color: var(--second-background-color);
  &__list {
    max-width: 320px;

    @include mq('mobile-only') {
      margin: 0 auto;
    }

    @include mq('tablet') {
      display: flex;
    }

    @include mq('tablet-only') {
      max-width: 520px;
      gap: 20px;
    }

    @include mq('desktop') {
      max-width: 790px;
      gap: 110px;
    }
  }

  &__item {
    position: relative;
    padding-top: 66px;
    max-width: 230px;
    color: var(--accent-color);

    @include mq('tablet-only') {
      max-width: 175px;
    }
    @include mq('desktop') {
      max-width: 290px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  @include mq('tablet') {
    &__item:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &__item::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__item:nth-child(1):before {
    background-image: url('../images/icons/milk.png');
    background-image: url('../images/icons/milk.webp');

    @include mq('retina') {
      background-image: url('../images/icons/milk@2x.png');
      background-image: url('../images/icons/milk@2x.webp');
    }
  }

  &__item:nth-child(2):before {
    background-image: url('../images/icons/apples.png');
    background-image: url('../images/icons/apples.webp');

    @include mq('retina') {
      background-image: url('../images/icons/apples@2x.png');
      background-image: url('../images/icons/apples@2x.webp');
    }
  }

  &__item:nth-child(3):before {
    background-image: url('../images/icons/heart.png');
    background-image: url('../images/icons/heart.webp');

    @include mq('retina') {
      background-image: url('../images/icons/heart@2x.png');
      background-image: url('../images/icons/heart@2x.webp');
    }
  }

  &__number {
    margin-bottom: 20px;
    font-weight: 400;
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    color: var(--main-black-text-color);
  }
}
