.contacts {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
    to bottom,
    var(--white-color) 20%,
    var(--second-background-color) 20%,
    var(--second-background-color) 100%
  );

  @include mq('tablet') {
    background-image: linear-gradient(
      to bottom,
      var(--white-color) 42%,
      var(--second-background-color) 42%,
      var(--second-background-color) 100%
    );
  }

  @include mq('desktop') {
    background-image: linear-gradient(
      to bottom,
      var(--white-color) 21%,
      var(--second-background-color) 21%,
      var(--second-background-color) 100%
    );
  }
}

.contacts-card {
  background-color: var(--white-color);
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px 32px 16px 32px;
  max-width: 280px;
  overflow: hidden;
  position: relative;

  transition: border-radius 250ms var(--transition-timing),
    transform 250ms var(--transition-timing);
  @include mq(mobile-only) {
    max-width: 280px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include mq(tablet) {
    max-width: calc((100% - 32px * 2) / 3);
    font-size: 14px;
    line-height: 1.66;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  @include mq(desktop) {
    max-width: calc((100% - 32px * 2) / 3);
    font-size: 16px;
    line-height: 1.83;
    padding-left: 40px;
    padding-right: 40px;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}
.contacts-card:hover {
  transform: scale(1.05);

  border-radius: 0;
  box-shadow: 0px 4px 4px 0px rgba(108, 43, 90, 0.25);
}

.contacts-card::before,
.contacts-card::after {
  content: '';
  position: absolute;
  transition: 0.8s ease-in-out;
  mix-blend-mode: darken;

  @include mq(mobile-only) {
    width: 371%;
    height: 371%;
  }

  @include mq(tablet) {
    width: 345%;
    height: 345%;
  }

  @include mq(desktop) {
    width: 370%;
    height: 370%;
  }
}
.contacts-card::before {
  right: 0;
  bottom: -100%;
  background: rgba(255, 165, 186, 0.2);
  opacity: 0;
  transform: skew(-45deg) translateX(100%);
}
.contacts-card::after {
  pointer-events: none;
  left: 0;
  top: -100%;
  background: rgba(130, 25, 93, 0.05);
  opacity: 0;
  transform: skew(135deg) translateX(-100%);
}
.contacts-card:hover::before {
  transform: skew(-45deg) translateX(0%);
  opacity: 1;
}
.contacts-card:hover::after {
  opacity: 1;

  transform: skew(135deg) translateX(0%);
}

.contacts-card__top {
  padding-bottom: 24px;

  border-bottom: 1px solid var(--contacts-card-border-color);

  @include mq(tablet) {
    padding-bottom: 32px;
  }
}
.contacts-card__middle {
  padding-top: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid var(--contacts-card-border-color);

  @include mq(tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @include mq(desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-card__uppertitle {
  text-align: center;
  width: 80px;
  line-height: 1.3;
  background-color: var(--product-second-background-color);
  border-radius: 4px;
  color: var(--white-color);

  &--var {
    width: 130px;
    background-color: var(--product-third-background-color);
  }

  @include mq(mobile-only) {
    margin-bottom: 20px;
  }

  @include mq(tablet) {
    margin-bottom: 32px;
    min-width: 73px;
  }
}
.contacts-card__title {
  display: block;
  line-height: 1.86;
  margin-bottom: 8px;

  @include mq(mobile-only) {
    font-size: 12px;
  }

  @include mq(tablet) {
    font-size: 14px;
  }

  @include mq(desktop) {
    font-size: 16px;
  }
}

.contacts-card__description {
  color: var(--secondary-text-color);
}

.working-hours__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.working-hours__time {
  color: var(--secondary-accent-color);
}

.contacts__block {
  line-height: 1.5;
  color: var(--secondary-text-color);
}

.contacts__link {
  display: block;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__link--phone {
  padding-top: 24px;
}

.contacts__link--email {
  padding-bottom: 24px;
}

.contacts__button-wrapper {
  width: fit-content;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  @include mq('tablet') {
    margin-top: 60px;
  }
}

.contacts__icon {
  margin-left: 10px;
}

.contacts__icon--white {
  stroke: var(--white-color);

  transition: stroke 250ms var(--transition-timing);
}

.contacts__icon--red {
  stroke: var(--accent-color);

  transition: stroke 250ms var(--transition-timing);
}

.contacts__list {
  @include mq(tablet) {
    display: flex;
    justify-content: center;
  }
}
