@import '../componets/modal/modal-slider';

.customer-review {
  text-align: center;
  padding-bottom: 16px;
}

.customer-review__picture {
  margin: 0 auto;
  margin-bottom: 32px;
}

.customer-review__wrapper {
  display: flex;
  margin-bottom: 16px;
  padding-top: 74px;
  padding-bottom: 17px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--customer-review-card-background-color);
}

.swiper-slide {
  background: var(--white-color);
}

.customer-review__gradient-wrapper {
  position: relative;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px
  );
  padding-left: 15px;
  padding-right: 8px;
}

.customer-review__description {
  transform: translateY(-31px);

  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: var(--main-black-text-color);
}

.customer-review__gradient-wrapper::before {
  position: absolute;
  top: -4px;
  left: 0;
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  background-image: url(../images/customer-reviews/inverted-commas.svg);
  background-position: left top;
  background-repeat: no-repeat;
  transform: translateY(-100%);
}

.customer-review__name {
  position: relative;
}

.swiper-pagination {
  margin-bottom: -16px;
}

.swiper-pagination-bullet {
  background-color: white;
  background-image: url(../images/icons/ellipse.svg);
  background-size: contain;
}

.swiper-pagination-bullet-active {
  background-color: white;
  background-image: url(../images/icons/home.svg);
  background-size: contain;
}

.customer-review__name::before {
  content: '';
  display: block;
  height: 4px;
  margin-bottom: 16px;
  background-image: url(../images/icons/review-circles.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
