.customer-review {
  text-align: center;
}

.customer-review__picture {
  margin: 0 auto;
  margin-bottom: 32px;
}

.customer-review__wrapper {
  margin-bottom: 4px;
  padding-top: 74px;
  padding-bottom: 17px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--customer-review-card-background-color);
}

.customer-review__gradient-wrapper {
  position: relative;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px
  );
}

.customer-review__gradient-wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  background-image: url(../images/customer-reviews/inverted-commas.svg);
  background-position: left top;
  background-repeat: no-repeat;
  transform: translateY(-100%);
}

.customer-review__name {
  position: relative;
}

.customer-review__name::before {
  content: '';
  display: block;
  height: 4px;
  margin-bottom: 16px;
  background-image: url(../images/icons/review-circles.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
