.footer {
  position: relative;
  background-color: var(--second-background-color);
  padding-bottom: 3px;

  @include mq('tablet') {
    padding-bottom: 4px;
  }
}

.footer::after {
  content: '';
  width: 100%;
  height: 1px;
  bottom: 60px;
  left: 0px;
  display: block;

  position: absolute;
  background-color: var(--contacts-card-border-color);

  @include mq('tablet') {
    bottom: 36px;
  }
}

.footer__group {
  margin-bottom: 56px;

  @include mq('tablet') {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px;
  }

  @include mq('desktop') {
    margin-bottom: 67px;
  }
}

.footer__title {
  margin-bottom: 40px;
  font-family: var(--secondary-font);
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);

  @include mq('tablet') {
    margin-bottom: 0;
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }

  @include mq('tablet-only') {
    max-width: 340px;
  }

  @include mq('desktop') {
    font-size: 58px;
    line-height: 1.14;
  }
}

.footer__title--accent {
  display: block;
  margin-bottom: 16px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;

  color: var(--secondary-accent-color);

  @include mq('tablet') {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }

  @include mq('tablet-only') {
    margin-bottom: 12px;
  }

  @include mq('desktop') {
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer__socials-container {
  @include mq('tablet') {
    justify-content: flex-end;
  }
}

.footer__text {
  text-align: right;

  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  color: var(--main-black-text-color);

  @include mq('tablet') {
    font-size: 14px;
  }

  @include mq('desktop') {
    font-size: 16px;
  }
}

.footer__phone {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: var(--accent-color);

  transition: color 250ms var(--transition-timing);

  @include mq('desktop') {
    padding-bottom: 0;
  }

  &:hover,
  &:focus {
    color: var(--icons-color);
  }
}

.footer__text-copyright {
  position: relative;
  text-align: center;
  max-width: 280px;
  margin: auto;
  padding-right: 60px;
  padding-left: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;

  color: var(--secondary-text-color);

  @include mq('tablet') {
    padding: 0;
  }

  @include mq('tablet') {
    line-height: 186%;
    letter-spacing: 0.02em;
  }
}
