
.gallery {
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         background-image: linear-gradient(to bottom, var(--second-background-color) 18%, var(--white-color) 18%, var(--white-color)100%);
        @include mq (tablet) {
            background-image: linear-gradient(to bottom, var(--second-background-color) 50%, var(--white-color) 50%, var(--white-color) 100%);
        }
        @include mq (desktop) {
            background-image: linear-gradient(to bottom, var(--second-background-color) 24%, var(--white-color) 24%, var(--white-color)100%);
        }
        &__container {
            padding: 0;
         }
        &__img {
            height: auto;
            width: 100%;
            max-width: 284px;
        } 
        &__list {
            display: grid;
        }
        &__item {
            border-radius: 8px;
            min-width: 44px;
                    & {
                    position: relative;
                    }
            
                & img {
                    display: block;
                    position: relative;
                    max-width: 100%;
                    height: auto;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            
                & img {
                    transition: all 0.2s linear;
                }
            
                &:hover img {
                    transform: scale(1.3);
                    z-index: 10;
                }
        }
        &__list > li:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-top: 40px;

            @include mq (mobile) {
                margin-right: 2px;
            }
            @include mq (tablet) {
                margin-right: 6px;
            }
            @include mq (desktop) {
                margin-right: 8px;
            }
        }
        
        &__list > li:nth-child(2) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-top: 30px;
            @include mq (mobile) {
                    margin-right: 2px;
                }
            
            @include mq (tablet) {
                    margin-right: 6px;
                    margin-top: 15px;
                    
                }
            
            @include mq (desktop) {
                    margin-right: 8px;
                    margin-top: 0px;
                }
        }
        
        &__list > li:nth-child(3) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
            margin-top: -9px;
            @include mq (mobile) {
                    margin-right: 2px;    
                }
            
            @include mq (tablet) {
                    margin-right: 6px;
                    margin-top: -20px;
                }
            
            @include mq (desktop) {
                    margin-right: 8px;
                    margin-top: -32px;
                }
        }
        
        &__list > li:nth-child(4) {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;
            
            @include mq (mobile) {
                    margin-right: 2px;
                }
            
            @include mq (tablet) {
                    margin-right: 6px;
                }
            
            @include mq (desktop) {
                    margin-right: 8px;
                }
        }
        
        &__list > li:nth-child(5) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            margin-top: 2px;
            
            @include mq (mobile) {
                    margin-right: 2px;
                }
            
            @include mq (tablet) {
                    margin-right: 6px;
                    margin-top: 5px;

                }
            
            @include mq (desktop) {
                    margin-right: 8px;
                    margin-top: 6px;
                }
        }
        
        &__list > li:nth-child(6) {
            grid-column-start: 5;
            grid-column-end: 6;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-top: 35px;
            
            @include mq (mobile) {
                    margin-right: 2px;
                }
            
            @include mq (tablet) {
                    margin-right: 6px;
                    margin-top: 20px;
                }
            
            @include mq (desktop) {
                    margin-right: 8px;
                    margin-top: 20px;
                }
        }
        
        &__list > li:nth-child(7) {
            grid-column-start: 5;
            grid-column-end: 6;
            grid-row-end: 4;
            margin-top: -3px;
            
            @include mq (mobile) {
                    margin-right: 2px;
                }
            
            @include mq (tablet) {
                    margin-right: 6px;
                    margin-top: -12px;
                }
            
            @include mq (desktop) {
                    margin-right: 8px;
                    margin-top: -12px;
                }
        }
        
        &__list > li:nth-child(8) {
            grid-column-start: 6;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-top: 20px;
            
            @include mq (mobile) {
                    margin-right: 2px;
                }
            
            @include mq (tablet) {
                    margin-right: 6px;
                    margin-top: 0;
                }
            
            @include mq (desktop) {
                    margin-right: 8px;
                    margin-top: -15px;
                }
        }
        
        &__list > li:nth-child(9) {
            grid-column-start: 6;
            grid-column-end: 7;
            grid-row-start: 3;
            grid-row-end: 4;
            margin-top: -18px;
            
            @include mq (mobile) {
                    margin-right: 2px;
                }
            
            @include mq (tablet) {
                    margin-right: 6px;
                    margin-top: -33px;
                }
            
            @include mq (desktop) {
                    margin-right: 8px;
                    margin-top: -50px;
                }
        }
        
        &__list > li:nth-child(10) {
            grid-column-start: 7;
            grid-column-end: 8;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-top: 40px;
        }
}

