.header {
  background-color: var(--main-background-color);
  @media screen and (max-width: 767.96px) {
    padding-top: 8px;
  }
  @media screen and (min-width: 767.98px) {
    padding-top: 32px;
    // padding-bottom: 20px;

    // position: absolute;
    // width: 100%;
  }
  @media screen and (min-width: 1199.98px) {
    padding-top: 37px;
    padding-bottom: 0;
  }
}

.header__navigation {
  display: none;
  @media screen and (min-width: 1199.98px) {
    display: block;
  }
}

.header-menu__list {
  display: flex;
  align-items: center;
}
.header-menu__item:not(:last-child) {
  margin-right: 35px;
}
.header-menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: var(--white-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &--current {
    color: var(--accent-color);
  }
}
.header__container {
  display: flex;
  background-color: var(--main-background-color);
  @media screen and (min-width: 767.98px) {
    align-items: center;
  }
}
.header__button {
  display: none;
  @media screen and (min-width: 767.98px) {
    display: block;
    z-index: 1;
    margin-left: auto;
    width: 160px;
    height: 44px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: swing 3s ease-in-out infinite forwards;
  }
}
.mobile-menu__button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 209px;
  height: 44px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  animation: swing 3s ease-in-out infinite forwards;
}
.button__icon {
  margin-left: 10px;
}
