.header {
  padding-top: 8px;
  background-color: var(--main-background-color);

  @include mq(tablet) {
    padding-top: 32px;
    position: fixed;
    z-index: 25;
    background-color: rgba(255, 184, 202, 0.2);
    width: 100%;
  }
  @include mq(desktop) {
    position: absolute;
    width: 100%;
    padding-top: 37px;
    padding-bottom: 0;
  }
}
.header__container {
  display: flex;
  @include mq(tablet) {
    align-items: center;
  }
}

.header__navigation {
  display: none;
  @include mq(desktop) {
    display: block;
  }
}

.header-menu__list {
  display: flex;
  align-items: center;
}
.header-menu__item {
  z-index: 1;
  &:not(:last-child) {
    margin-right: 35px;
  }
}
.header-menu__link {
  display: block;

  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: var(--white-color);
  transition: color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &--current {
    color: var(--accent-color);
  }
}

.header__button {
  display: none;
  @include mq(tablet) {
    display: block;
    z-index: 1;
    margin-left: auto;
    width: 160px;
    height: 44px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.button__icon {
  margin-left: 10px;
  stroke: var(--accent-color);
  &:hover,
  &:focus {
    stroke: var(--white-color);
  }
}
.header__button:hover .button__icon,
.header__button:focus .button__icon {
  stroke: var(--white-color);
}
.mobile-menu__button:hover .button__icon,
.mobile-menu__button:focus .button__icon {
  stroke: var(--white-color);
}
