.hero {
    background-color: var(--main-background-color); 
    height: 444px;
    position: relative;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}



.hero__container {

    position: absolute;
    bottom: 158px;
    left: 20px;
    z-index: 1000;

    display: inline-block;
    @include mq('mobile-only') {
        width:216px
    }
}

.hero__title {
    font-weight: var(--secondary-font);
    font-size: 26px;
    line-height: 1.145;
    text-transform: uppercase;

    color: var(--white-color);
    
    margin-bottom: 20px;

    &--accent {
        font-size: 48px;
        line-height: 0.965;
        color: var(--accent-color);
    }
}

.hero__list {
    display: flex;
}

.hero__item:not(:last-child) {
    margin-right: 10px;
}


.bio-eco {
    @include mq('mobile-only') {
        display: none;
    }
}

.hero__image {
    position: absolute;
    bottom: 0px;
    left:calc(117px + (100% - 320px)/2);
    z-index: 10;
}


.hero__circle {
    width: 346px;
    height: 344px;
    background-color: var(--secondary-accent-color);
    border-radius: 50%;

    position: absolute;
    left: calc(36px + (100% - 320px)/2);
    bottom: 75px;
}

.amount {
    @include mq('mobile-only') {
        display: none;
    }
}

.enticing {
    @include mq('mobile-only') {
        display: none;
    }
}