.products {
  text-align: center;
}

.products__list {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    max-width: 704px;
  }
}

.products__item {
  position: relative;
  max-width: 280px;
  padding-top: 140px;

  @media screen and (max-width: 767.98px) {
    margin-left: auto;
    margin-right: auto;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 224px;
    padding-top: 138px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.products-card__wrapper {
  padding: 160px 40px 40px;
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    padding: 118px 25px 25px;
  }
}

.products-card__wrapper--ice-cream {
  background-color: var(--main-background-color);
}

.products-card__wrapper--ice-cream::after {
  content: '';
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 280px;
  background-image: url('../images/products/ice-cream.png');

  @media screen and (min-width: 768px) {
    background-image: url('../images/products/ice-cream-tablet.png');
    width: 224px;
    height: 224px;
  }
}

.products-card__wrapper--ice-coffee {
  background-color: var(--product-second-background-color);
}

.products-card__wrapper--ice-coffee::after {
  content: '';
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 280px;
  background-image: url('../images/products/ice-coffee.png');

  @media screen and (min-width: 768px) {
    background-image: url('../images/products/ice-coffee-tablet.png');
    width: 224px;
    height: 224px;
  }
}

.products-card__wrapper--milkshakes {
  background-color: var(--product-third-background-color);
}

.products-card__wrapper--milkshakes::after {
  content: '';
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 280px;
  background-image: url('../images/products/milkshakes.png');

  @media screen and (min-width: 768px) {
    background-image: url('../images/products/milkshakes-tablet.png');
    width: 224px;
    height: 224px;
  }
}

.products-card__name {
  position: relative;
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.15;
  color: var(--white-color);
}

.products-card__name::after {
  content: '';
  position: absolute;

  top: 55px;
  left: 50%;
  transform: translateX(-50%);

  width: 26px;
  height: 6px;
  color: var(--white-color);
  background-image: url('../images/products/dots.png');
}

.products-card__text {
  margin-top: 70px;

  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.52;
  text-transform: none;
  color: var(--white-color);
}

.products-card__btn {
  margin-top: 32px;
  padding: 15px 17px;

  background-color: var(--white-color);
  border-radius: 50%;
  border-style: none;

  transition: background-color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover .products-card__icon,
  &:focus .products-card__icon {
    fill: var(--white-color);
  }
}

.products-card__icon {
  fill: var(--accent-color);
  transition: fill 250ms var(--transition-timing);
}
