.section {
  padding-bottom: 60px;

  &:--padding-top {
    padding-top: 60px;
  }
}

.section__contacts {
  padding-bottom: 40px;

  @include mq('desktop') {
    padding-bottom: 60px;
  }
}

// .section__title {
// }
