.button {
  border-radius: 22px;
  border: none;
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms var(--transition-timing) 200ms,
    color 250ms var(--transition-timing) 300ms;

  &--white {
    color: var(--accent-color);
    background-color: var(--white-color);
    &:hover,
    &:focus {
      color: var(--white-color);
      background-color: var(--accent-color);
    }
  }
  &--red {
    color: var(--white-color);
    background-color: var(--accent-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
      background-color: var(--white-color);
    }
  }
}

.about__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 176px;
  padding: 12px 37px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
}

.contacts__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 162px;
  padding: 12px 17px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
}

.contacts__button:last-child {
  margin-top: 10px;
}