.button {
  border-radius: 22px;
  border: none;
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms var(--transition-timing) 200ms,
    color 250ms var(--transition-timing) 300ms;

  &--white {
    color: var(--accent-color);
    background-color: var(--white-color);
    &:hover,
    &:focus {
      color: var(--white-color);
      background-color: var(--accent-color);
    }
  }
  &--red {
    color: var(--white-color);
    background-color: var(--accent-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
      background-color: var(--white-color);
    }
  }
}

.about__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 176px;
  max-width: 230px;
  padding: 12px 37px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;


  @include mq(desktop){
    font-size: 16px;
    line-height: 1.31;
}

  &:hover .about__icon,
  &:focus .about__icon {
      stroke: var(--white-color);
      
  }
}

.contacts__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 162px;
  padding: 12px 17px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;

  &:hover .contacts__icon--red,
  &:focus .contacts__icon--red  {
    stroke: var(--white-color);
  }

   &:hover .contacts__icon--white,
  &:focus .contacts__icon--white  {
    stroke: var(--accent-color);
  }
}

.contacts__button:last-child {
  @include mq(mobile-only) {
    margin-top: 10px;
  }
}

.contacts__button-wrapper {
  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }}

  @include mq(tablet) {
   display: flex;

   &:not(:last-child) {
    margin-right: 15px;
  }
  }

 
}
.button--red {
  @include mq(tablet) {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  @include mq(desktop) {
   
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
  }

// @include mq(tablet) {
//   display: flex;

//   &:not(:last-child) {
//    margin-right: 15px;
//  }
// }
.franchise__button {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // position: absolute;
  // top: 8px;
  // right: 8px;
  // width: 30px;
  // height: 30px;
  // cursor: pointer;
  // fill: var(--white-color);
  // background-color: var(--accent-color);
  // border: 1px solid transparent;
  // border-radius: 50%;
  // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // &:hover,
  // &:focus {
  //   fill: var(--accent-color);
  //   background-color: var(--white-color);
  // }

  display: flex;
  justify-content: center;
  align-items: center;
  display: block;

  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 200;

  width: 60px;
  height: 30px;

  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background: var(--second-background-color);
  transition: color 250ms var(--transition-timing),
    border-color 250ms var(--transition-timing);
  cursor: pointer;
  color: #000000;

  &:hover,
  &:focus {
    color: rgb(214, 57, 167);
    border-color: rgb(214, 57, 167);
  }
}

.submit-btn__franchise {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-width: 162px;
  // padding: 12px 17px;
  // margin-left: auto;
  // margin-right: auto;

  // font-size: 16px;
  // font-weight: 700;
  // line-height: 1.31;

  // color: var(--white-color);
  // background-color: var(--accent-color);

  
  // &:hover,
  // &:focus {
  //   color: var(--accent-color);
  //   background-color: var(--white-color);
  // }

  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  align-items: center;
  display: block;

  width: 160px;
  height: 44px;

  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 22px;

  background-color: var(--accent-color);
  transition: color 250ms var(--transition-timing),
    border-color 250ms var(--transition-timing);
  cursor: pointer;
  color: var(--white-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: var(--white-color);
    border-color: rgb(214, 57, 167);
  }
}

  
