// Modal(contacts)

.franchise__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(255, 165, 186, 0.25);
  padding: 93px 15px;
  z-index: 50;

  transition: opacity 250ms var(--transition-timing),
    visibility 250ms var(--transition-timing);
  overflow-y: scroll;

  @include mq('mobile-only') {
    padding: 15px 15px;
  }
}
.franchise__backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  & .franchise__modal-wrapper {
    transform: scale(0.9);

    @media screen and (min-width: 480px) and (orientation: portrait) {
      transform: translate(-50%, -50%) scale(1);
    }

    @media screen and (min-width: 480px) and (orientation: landscape) {
      transform: scale(0.9);
    }

    @media screen and (min-width: 768px) and (min-height: 655px) {
      transform: translate(-50%, -50%) scale(0.9);
    }

    @include mq('desktop') {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

.franchise__modal-wrapper {
  padding: 40px;
  background-color: var(--second-background-color);
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;

  z-index: 100;
  max-width: 450px;
  width: 100%;

  transform: scale(1);
  transition: transform 250ms var(--transition-timing),
    opacity 250ms var(--transition-timing);

  @media screen and (min-width: 480px) and (orientation: portrait) {
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 480px) and (orientation: landscape) {
    max-width: 450px;
    position: relative;
    transform: scale(1);
  }

  @media screen and (min-width: 768px) and (min-height: 655px) {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @include mq('desktop') {
    transform: translate(-50%, -50%) scale(1);
  }
}

/*---------------------Форма модального окна--------------------------*/
.form-group {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-comments {
  resize: none;

  &-textarea {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
}

.form-title {
 
  display: block;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 12px;
  color: var(--accent-color);

  @media screen and (min-width: 480px) {
    font-size: 16px;
  }

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}


.form-label {
  display: block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.94;
  letter-spacing: 0.04em;
  color: #907e82;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  padding: 14px 14px 14px 42px;

  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline: transparent;
  background-color: var(--white-color);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.form-input-container {
  display: flex;
  flex-direction: column;
  position: relative;

  &:focus-within {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.form-icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
  fill: var(--icons-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  .form-input:hover + &,
  .form-input:focus + & {
    fill: var(--accent-color);
  }
}

.form-comments {
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 17px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px 16px;
  outline: transparent;
  background-color: var(--white-color);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

body.modal-open {
  overflow: hidden;
}
