.location__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(255, 165, 186, 0.25);
  z-index: 50;

  transition: opacity 250ms var(--transition-timing),
    visibility 250ms var(--transition-timing);
  overflow-y: scroll;

  @include mq('mobile-only') {
    padding: 15px 15px;
  }
}

.location__backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  & .location__modal-wrapper {
    transform: scale(0.9);

    @include mq('tablet') {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

.location__modal-wrapper {
  padding: 40px;
  background-color: var(--secondary-accent-color);
  opacity: 1;
  border-radius: 24px;
  z-index: 100;
  max-width: 450px;
  // width: 100%;
  transform: scale(1);
  transition: transform 250ms var(--transition-timing);
  background: var(--second-background-color);
  box-shadow: 0px 0px 50px 14px rgba(255, 165, 186, 0.34);

  @media screen and (min-width: 480px) and (orientation: portrait) {
    // width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 480px) and (orientation: landscape) {
    // width: 450px;
    position: relative;
    padding: 40px;
    margin: auto auto;
    transform: scale(1);
  }

  @media screen and (min-width: 768px) and (min-height: 655px) {
    // width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.location__title {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
  color: var(--accent-color);
  display: block;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

body.modal-open {
  overflow: hidden;
}
