.logo__link {
  display: block;
  padding-top: 8px;
  color: black;
  &:hover,
  &:focus {
    fill: currentColor;
  }
}
.logo__icon {
  color: black;
  &:hover,
  &:focus {
    fill: currentColor;
  }
}
