.logo {
  display: block;
  padding-top: 8px;
  z-index: 1;
}
.logo__icon {
  fill: var(--accent-color);
  transition: fill 250ms var(--transition-timing) 200ms;
  &:hover,
  &:focus {
    fill: var(--menu-bacground);
  }
}
