.logo {
  z-index: 1;
  font-size: 0;
  display: inline-block;
  padding: 0;
  margin: 0;

  @media screen and (min-width: 767.99px) {
    margin-right: 293px;
  }
  @media screen and (min-width: 1199.99px) {
    margin-right: 128px;
  }
}
.logo__icon {
  fill: var(--accent-color);
  transition: fill 250ms var(--transition-timing) 200ms;
  &:hover,
  &:focus {
    fill: var(--menu-bacground);
  }
}
