.logo {
  display: block;
  padding-top: 8px;
  fill: var(--accent-color);
  &:hover,
  &:focus {
    fill: var(--secondary-accent-color);
  }
}
.logo__icon {
  &:hover,
  &:focus {
    fill: var(--secondary-accent-color);
  }
}
