.js-open-menu-bg {
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 0;
  transition: opacity 250ms var(--transition-timing), visibility 250ms var(--transition-timing);
  background: #ef718f40;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  visibility: hidden;
}

.js-open-menu-bg.is-open {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 1199.98px) {
  .mobile-menu {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;

    padding-top: 60px;

    width: 100%;
    @media screen and (min-width: 767.99px) {
      width: 38%;
    }
    height: 100%;

    background-color: var(--menu-bacground);
    overflow-y: scroll;

    visibility: hidden;
    transform: translateY(-100%);

    transition: transform 600ms var(--transition-timing),
      visibility 250ms var(--transition-timing) 200ms;
    &.is-open {
      visibility: visible;
      transform: translateY(0);
      filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
    }
  }
}
.mobile-menu__button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 209px;
  height: 44px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  animation: swing 3s ease-in-out infinite forwards;
  @media screen and (min-width: 1199.99px) {
    display: none;
  }
}
.mobile-menu__naviation {
  @media screen and (min-width: 1199.99px) {
    display: none;
  }
}
.mobile-menu__item {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}
.mobile-menu__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;

  font-style: normal;
  font-weight: 700;
  line-height: 1.28;

  color: var(--white-color);

  transition: color 250ms var(--transition-timing) 300ms;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-menu__link--current {
  color: var(--accent-color);
}
.mobile-button {
  position: relative;
  top: 13px;
  z-index: 100;

  width: 30px;
  height: 30px;

  margin: 0;
  margin-left: auto;
  padding: 0;

  fill: var(--accent-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill 250ms var(--transition-timing);

  &:hover,
  &:focus {
    fill: var(--white-color);
  }
  @media screen and (min-width: 767.99px) {
    position: static;
    margin: 0;
  }
  @media screen and (min-width: 1199.99px) {
    display: none;
  }
}
.mobile-button.close {
  position: fixed;
  top: 20;
  right: 20;
  fill: var(--white-color);
  @media screen and (min-width: 767.99px) {
    top: 20;
    right: 32;
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

// Arrow to top
.arrow-top {
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 50;

  width: 40;
  height: 40;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
  cursor: pointer;
  animation: slide-top 1s linear 2s infinite alternate both;
}
.arrow {
  fill: var(--accent-color);
}
