@media screen and (max-width: 1199.98px) {
  .mobile-menu {
    position: fixed;
    z-index: 1100;
    top: 0;
    right: 0;

    padding-top: 60px;

    width: 100%;
    @media screen and (min-width: 767.99px) {
      width: 254px;
    }
    height: 100%;

    background-color: var(--menu-bacground);
    overflow-y: scroll;

    visibility: hidden;
    transform: translateY(-100%);

    transition: transform 600ms var(--transition-timing),
      visibility 250ms var(--transition-timing) 200ms;
    &.is-open {
      visibility: visible;
      transform: translateY(0);
      filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
    }
  }
}
.mobile-menu__button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 209px;
  height: 44px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  animation: swing 3s ease-in-out infinite forwards;
  @media screen and (min-width: 1199.99px) {
    display: none;
  }
}
.mobile-menu__naviation {
  @media screen and (min-width: 1199.99px) {
    display: none;
  }
}
.mobile-menu__item {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}
.mobile-menu__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;

  font-style: normal;
  font-weight: 700;
  line-height: 1.28;

  color: var(--white-color);

  transition: color 250ms var(--transition-timing) 300ms;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-menu__link--current {
  color: var(--accent-color);
}
.mobile-button {
  position: relative;
  top: 10px;
  z-index: 1200;

  width: 30px;
  height: 30px;

  margin: 0;
  margin-left: auto;
  padding: 0;

  fill: var(--accent-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill 250ms var(--transition-timing) 200ms;

  &:hover,
  &:focus {
    fill: var(--white-color);
  }
  @media screen and (min-width: 767.99px) {
    position: static;
    margin: 0;
  }
  @media screen and (min-width: 1199.99px) {
    display: none;
  }
}
.mobile-button.is-open {
  position: fixed;
  right: 32px;
  top: 20px;
}
.mobile-button .mobile-button__icon--close {
  transform: translateX(-100%);
}

.mobile-button.is-open .mobile-button__icon--close {
  transform: translateX(0);
}
.mobile-button.is-open .mobile-button__icon--menu {
  transform: translateX(-100%);
}
.mobile-button__icon--menu {
  transition: transform 900ms var(--transition-timing);
}

// Arrow to top
.arrow-top {
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 50;

  width: 40;
  height: 40;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
  cursor: pointer;
  animation: slide-top 1s linear 2s infinite alternate both;
}
.arrow {
  fill: var(--accent-color);
}
