.socials {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom: 40px;
    

    @include mq('tablet-only') {
    margin-top: 0;
    margin-bottom: 44px;
    }

    @include mq('desktop') {
    margin-top: 0;
    }
  }
  
  .socials__item:not(:last-child) {
    margin-right: 28.24px;

    @include mq('tablet') {
        margin-right: 30px;
      }
  }
  
  .socials__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
 
    color: var(--icons-color);
    cursor: pointer;
  
    border-radius: 50%;

    transition: color 250ms var(--transition-timing);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }

  }
  
  .socials__icon {
    fill: currentColor;
    
  }
  